label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
textarea {
  margin-left: 240px;
}
.a {
  display: flex;
  margin-left: 240px;
}
.b {
  margin-top: 50px;
}

.sub {
  margin: 20px 0 0 250px;
}