* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 150px 150px 150px 150px;
}
header {
    grid-column: 1 / span 5;
    grid-row: 2;
}
main {
    grid-column: 1 / span 5;
    grid-row: 3;
}

.mainI, .green, .maroon, .skyblue, h6, p {
    margin: 15px 10px;
}
h1 {
    background-image: url(./images/pattern.webp);
    color: yellow;
    font-size: 90px;
    text-align: center;
}
h6 {
    font-size: 20px;
}
span {
    color: blue;
}
.green {
    background-color: lightgreen;
    color: white;
    font-size: 40px;
}
.maroon {
    background-color: rgb(204, 87, 87);
    color: white;
    font-size: 40px;
}
.skyblue {
    background-color: skyblue;
    color: white;
    font-size: 40px;
}